/*====================nav and slide start==========================*/
.contain {
    background-color: #37517e;
}

.des {
    font-family: monotype corsiva;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 0px 2px 3px blueviolet;
}

.navv {
    background-color: transparent;
}

#navbarSupportedContent ul li a {
    color: aliceblue;
}

#navbarSupportedContent ul li a:hover {
    border-bottom: 3px solid lightblue;
    color: blueviolet;
    background-color: whitesmoke;
    border-radius: 50px 50px 50px 50px;
}

.slidecontent {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    align-items: justify;
}

.slidecontent button {
    background-color: #47b2e4;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slidecontent button:hover {
    background-color: #c0dcea;
    color: #37517e;
    font-family: 'Times New Roman', Times, serif;
    padding: 8%;
}

.bounce {
  width: 90%;
  animation: bounce 2s infinite;
  display: inline-block;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/*================================nav and slide end==========*/

/*=====================about star============================*/
.about h1 {
    color: #37517e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 3px solid #37517e;
    font-weight: bolder;
}

.about h1:hover {
    background: linear-gradient(#c2d3f0, whitesmoke, #d3ddee);
}

.about1 p {
    /* font-size: 1.1rem;
    line-height: 1.6;*/
    color: rgb(18, 18, 18);
    margin-bottom: 15px;
    text-align: justify;

}

.about1 button {
    border: 1px solid #47b2e4;
    color: #47b2e4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about1 button:hover {
    background-color: #47b2e4;
    border: 1px solid #47b2e4;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*=================login start=================*/
.login {
    border: 2px solid lawngreen;
    background-color: rgb(245, 245, 245, 0.3);
}

/*==================footer stat=======================*/
.footer {
    background-color: whitesmoke;
}

.footer span {
    color: #37517e;
}

.footer h5 {
    color: #37517e;
    font-weight: bold;
}

.footer ul li {
    list-style-type: none;

}

.footer ul li a {
    text-decoration: none;
    color: black;
}

.footer ul li a:hover {
    color: #37517e;
    font-weight: bolder;
}

.copyright {
    background-color: #37517e;
    border: 1px dotted limegreen;
    color: aliceblue;
}

/*========================footer end==================*/
/* =================services start================= */
.card {
    display: flex;
    background-color: whitesmoke;
    border: 1px solid lawngreen;
}

.card h3 {
    color: #37517e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.card button {
    background-color: #47b2e4;
    border: 1px solid white;
}

.card button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.card button:hover{
    background-color: #37517e;
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 3px blueviolet;
}
.portfolio img:hover{
    box-shadow: 0px 5px 7px #8cafeb;
    transform: scale(1.10);
    transition: 1s;
}

.card:hover {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* ===================services end========================= */



/* ============================Login Start============================== */
.form1{
    font-family: 'Times New Roman', Times, serif;
    background-color: #37517e;
    border: 2px solid rgb(152, 232, 152);
    color: whitesmoke;
}
.form1 h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.form1 input:hover{
    box-shadow: 0px 3px 4px aliceblue;
}
.form1 button{
    display: flex;
    background-color: aliceblue;
    color: #37517e;
    border: 1px solid #47b2e4;
    margin-left: 40%;
}
.form1 button:hover{
    display: flex;
    background-color: #d3ddee;
    color: #0b2653;
    box-shadow: 0px 3px 4px #47b2e4;
}
.form1 span a{
    color: aliceblue;
}
.form1 span a:hover{
    color:#47b2e4;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#fp:hover{
    color:#47b2e4;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* ==============================login end================================ */