{% extends 'base.html' %}
{% block title %} Create Account {% endblock %}
{% block start %}
{% load static %}
        <!-- ========================================================Create Account start================================================================ -->
        <div class="container-fluid mt-5">
            <div class="row mt-3">
                <div class="col-md-12 text-center">
                    <h1
                        style="font-weight: bolder; font-family: monotype corsiva; color:#37517e; text-shadow: 2px 3px 3px  #37517e;">
                        Please Share Some Details Here</h1>
                </div>
            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row bg-white regg">
                            <div class="col-md-4 reg text-center" style="align-content: center;" data-aos="fade-right">
                                <h1>Welcome User!</h1>
                                <span>Enter your personal details for <br> registration </span> <br>
                                <button id="Sign" class="rounded-pill p-1 fw-bold mt-3"> <a href="#">Sign In
                                        Here</a></button>
                            </div>
                            <div class="col-md-8">
                                <div class="form">
                                    <form class="m-5" id="form" data-aos="fade-down">
                                        <div class="mb-3  fw-bold fs-5">
                                            <label for="name" class="form-label"> Name :</label>
                                            <input type="name" placeholder="Full Name" class="form-control" required
                                                id="name" onkeyup="fname()">
                                        </div>
                                        <div class="mb-3  fw-bold fs-5">
                                            <label for="email" class="form-label"> Email Address :</label>
                                            <input type="email" placeholder="Email" class="form-control" id="email" aria-describedby="emailHelp" required
                                                onkeyup="mail()">
                                        </div>
                                        <div class="mb-1  fw-bold fs-5">
                                            <label for="number" class="form-label">Contact Number:</label>
                                            <input type="text" placeholder="Mobile Number" class="form-control"
                                                id="number" onkeyup="contact()">
                                            <br />
                                        </div>
                                        <div class="mb-3  fw-bold fs-5">
                                            <label for="name" class="form-label"> Create Password :</label>
                                            <input type="password" id="pass" placeholder="Create Password" class="form-control" onkeyup="pas()">
                                             <h6 style="font-weight: bolder; font-family: monotype corsiva; color:#77a3e8;" class="mt-2">Please create strong password so please enter some alphabet and minimum 1 special character and minimum 1 number between 0-9</h6>
		                                    <span id="sp2"></span>
                                        </div>
                                        <button type="submit" class="btn rounded-pill mt-3">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- =============================================================Create Account end=============================================================== -->


{% endblock %}