{% extends 'base.html' %}
{% block title %} Resumes {% endblock %}
{% block start %}
{% load static %}
<div class="container bg-light my-4 live-demo">
    <div class="row">
        <div class="col-sm-8 p-3">
            <h3>resume</h3>
            <span class="fs-3 text-warning">&starf;&starf;&starf;&star;&star;</span><br>
            <div class="img mb-5">
                <div  class="img-hover">
                    <a href="#"><button class="btn btn-warning">Live Preview</button></a>
                </div>
            </div>
            <h4>about resume</h4>
        </div>
        <div class="col-sm-4">
            <div class="all-buttons">
                <a href=""><button class="btn btn-warning"><i class="fa-solid fa-mountain-sun"></i> Live Preview</button></a>
                <a href=""><button class="btn btn-primary"><i class="fa-solid fa-cloud-arrow-down"></i> Download</button></a>
                <a href=""><button class="btn btn-success"><i class="fa-solid fa-user-pen"></i> Edit</button></a>
                <p class="mt-4">Design-Exhibition-Space provide easy download of various portfolios, Resumes, and Cards.
                It faciitates effortless editing and provide edited code for downloading. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="p-3">A resume is a professional document that summarizes an individual’s education, work experience, skills, and accomplishments. It is typically used when applying for jobs, internships, or academic opportunities. The goal of a resume is to present your qualifications in a clear, concise, and structured format that makes it easy for employers to evaluate your suitability for a role. <br>

            A standard resume includes key sections like contact information, career objective or summary, education background, work or internship experience, technical and soft skills, and optionally, certifications, projects, or languages. A well-written resume is tailored to the specific job, uses action verbs, quantifiable achievements, and is usually limited to one or two pages. It plays a crucial role in making a strong first impression during the hiring process.</p>
        </div>
    </div>
</div>
{% endblock %}