{% extends 'base.html' %}
{% block title %} Cards {% endblock %}
{% block start %}
{% load static %}
<div class="container bg-light my-4 live-demo">
    <div class="row">
        <div class="col-sm-8 p-3">
            <h3>invitation card</h3>
            <span class="fs-3 text-warning">&starf;&starf;&starf;&star;&star;</span><br>
            <div class="img mb-5">
                <div  class="img-hover">
                    <a href="#"><button class="btn btn-warning">Live Preview</button></a>
                </div>
            </div>
            <h4>about cards</h4>
        </div>
        <div class="col-sm-4">
            <div class="all-buttons">
                <a href=""><button class="btn btn-warning"><i class="fa-solid fa-mountain-sun"></i> Live Preview</button></a>
                <a href=""><button class="btn btn-primary"><i class="fa-solid fa-cloud-arrow-down"></i> Download</button></a>
                <a href=""><button class="btn btn-success"><i class="fa-solid fa-user-pen"></i> Edit</button></a>
                <p class="mt-4">Design-Exhibition-Space provide easy download of various portfolios, Resumes, and Cards.
                It faciitates effortless editing and provide edited code for downloading. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="p-3">Invitation cards are written or digital messages used to invite people to special events such as weddings, birthdays, anniversaries, corporate events, and ceremonies. They serve as a formal or informal request for the presence of guests and provide key details about the event. <br>

            A typical invitation card includes the event name, host’s name, date, time, venue, and sometimes RSVP information or special instructions (like dress code or theme). These cards not only inform guests but also set the tone for the occasion through their design, wording, and presentation. <br>

            Invitation cards can be printed, digital (e-cards), or even video-based, and are often designed to match the theme or mood of the event. They play an important role in planning by helping manage attendance and creating a positive first impression of the celebration.</p>
        </div>
    </div>
</div>
{% endblock %}